.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  padding: 1rem;
  border-radius: 2rem;
  margin: 2rem auto;
  width: 320px;
  max-width: 100%;
  height: 400px;
}

.container h2 {
  margin-top: 1rem;
}

.item h3 {
  font-size: 20px;
  font-weight: bold;
}

.item-img {
  width: 100%;
  height: 50%;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}

.details {
  flex-direction: column;
  justify-content: space-between;
}

.price {
  text-align: left;
}

.quantity {
  align-items: end;
}

.item-btn {
  border: none;
  align-self: center;
  width: 200px;
  font-size: medium;
}
